{% extends "base.html" %}

{% block title %} Contestant {{ contestant.first_name }} {% endblock %}

{% block content %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron ">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <img src="{{object.photo}}" class="img-circle contestant-bust" alt="{{object.first_name}}" />
          </div>
          <div class="col-md-9">
            <h1>It's {{ contestant.first_name }} {{ contestant.last_name}} !!!</h1>
            <p>{{object.bio}}</p>
            <p><a class="btn btn-primary btn-lg" href="{% url 'contestant-donate' pk=contestant.pk %}" role="button">Make {{ contestant.first_name }} look crazy &raquo;</a></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-9">
            ${{ donation_total }} raised by {{ donation_people }} people!
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->

      <div class="row">
        {% for haircut in contestant.haircut_set.all|dictsort:"goal_amount" %}
          <div class="col-md-4">
            <img src="{{haircut.photo}}" class="img-circle center-block haircut-circle" alt="{{haircut.name}}" />
            <h2>{{ haircut.name }}</h2>
            <p class="lead">${{ haircut.goal_amount}}</p>
            <p>{% lorem 30 w %}</p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="{{haircut.progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{haircut.progress}}%;">{{ haircut.progress | floatformat:1 }}%</div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

{% endblock %}