{% extends "base.html" %}

{% block title %} Cuts for a Cause {% endblock %}

{% block content %}
    <div class="jumbotron masthead">
      <div class="container">
        <div class="text-center">CUTS FOR A CAUSE</div>
      </div>
    </div>
    <div class="container">
      <div class="lead"><p>asdf</p></div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        {% for contestant in contestants %}
          <div class="col-md-4">
            <div class="text-center"><img src="{{ contestant.photo }}" class="img-circle contestant-bust" alt="{{ ontestant.first_name }}" /></div>
            <h2>{{ contestant.first_name }}</h2>
            <p>{{ contestant.bio|safe }}</p>
            <p><a class="btn btn-default" href="{% url 'contestant-detail' pk=contestant.pk %}" role="button">
              {{ contestant.first_name }}'s deets &raquo;</a>
            </p>
          </div>
        {% endfor %}
      </div>
    </div>

{% endblock %}